In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import scipy.io as sio
import re
import pycountry

In [3]:
filename = 'summerOly_hosts.csv'
hosts_data = pd.read_csv(filename)
hosts_data.head()

   Year                       Host
0  1896             Athens, Greece
1  1900              Paris, France
2  1904   St. Louis, United States
3  1908     London, United Kingdom
4  1912          Stockholm, Sweden

In [4]:
def remove_chars_before_first_uppercase(s):
    for i, char in enumerate(s):
        if char.isupper():
   
            return s[i:]
    return ""

In [5]:
for i in range(len(hosts_data)):
    my_str=hosts_data.loc[i,"Host"]
    if "Cancelled" in my_str: 
        continue
    if "West" in my_str:
        my_str = "Germany"
    if "Soviet" in my_str:
        hosts_data.loc[i,"Host"]="RUS"
        continue
    if "South" in my_str:
        hosts_data.loc[i,"Host"]="KR"
        continue
    if "Japan" in my_str:
        my_str = "Japan"
    my_str = my_str[my_str.find(',')+1:]
    my_str = remove_chars_before_first_uppercase(my_str)
    country = pycountry.countries.get(name=my_str)
    hosts_data.loc[i,"Host"]= country.alpha_3
hosts_data.head()

   Year Host
0  1896  GRC
1  1900  FRA
2  1904  USA
3  1908  GBR
4  1912  SWE

In [6]:
filename = 'summerOly_athletes.csv'
athletes_data = pd.read_csv(filename)
athletes_data.head()

,Name,Sex,Team,NOC,Year,City,Sport,Event,Medal
0,A Dijiang,M,China,CHN,1992,Barcelona,Basketball,Basketball Men's Basketball,No medal
1,A Lamusi,M,China,CHN,2012,London,Judo,Judo Men's Extra-Lightweight,No medal
2,Gunnar Aaby,M,Denmark,DEN,1920,Antwerpen,Football,Football Men's Football,No medal
3,Edgar Aabye,M,Denmark/Sweden,DEN,1900,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Cornelia (-strannood),F,Netherlands,NED,1932,Los Angeles,Athletics,Athletics Women's 100 metres,No medal

In [7]:
filename = 'summerOly_medal_counts.csv'
counts_data = pd.read_csv(filename)
counts_data.head()

   Rank            NOC  Gold  Silver  Bronze  Total  Year
0     1  United States    11       7       2     20  1896
1     2         Greece    10      18      19     47  1896
2     3        Germany     6       5       2     13  1896
3     4         France     5       4       2     11  1896
4     5  Great Britain     2       3       2      7  1896

In [8]:
for i in range(len(counts_data)):
    my_str=counts_data.loc[i,"NOC"]
    if "Cancelled" in my_str: 
        continue
    if "United Arab Emirates" in my_str:
        counts_data.loc[i,"NOC"]="UAE"
        continue
    if "West Germany" in my_str:
        counts_data.loc[i,"NOC"]="FRG"
        continue
    if "East Germany" in my_str:
        counts_data.loc[i,"NOC"]="GDR"
        continue
    if "Germany" in my_str or "German" in my_str :
        counts_data.loc[i,"NOC"]="GER"
        continue
    if "Soviet Union" in my_str:
        counts_data.loc[i,"NOC"]="URS"
        continue
    if  "Russian" in my_str or "Russia" in my_str:
        counts_data.loc[i,"NOC"]="RUS"
        continue
    if "Virgin Islands" in my_str:
        counts_data.loc[i,"NOC"]="VIN"
        continue
    if "Denmark" in my_str:
        counts_data.loc[i,"NOC"]="DEN"
        continue
    if "Zambia" in my_str:
        counts_data.loc[i,"NOC"]="ZAM"
        continue
    if "Zimbabwe" in my_str:
        counts_data.loc[i,"NOC"]="ZIM"
        continue
    if "Algeria" in my_str:
        counts_data.loc[i,"NOC"]="ALG"
        continue
    if "Antilles" in my_str:
        counts_data.loc[i,"NOC"]="ANT"
        continue
    if "North Korea" in my_str:
        counts_data.loc[i,"NOC"]="PRK"
        continue
    if "Korea" in my_str:
        counts_data.loc[i,"NOC"]="KOR"
        continue
    if "Japan" in my_str:
        my_str = "Japan"
    if "Great" in my_str or "British" in my_str :
        counts_data.loc[i,"NOC"]="GBR"
        continue
    if "Mixed team" in my_str:
        counts_data.loc[i,"NOC"]="MIX"
        continue
    if "Bohemia" in my_str:
        counts_data.loc[i,"NOC"]="BOH"
        continue
    if "Australasia" in my_str:
        counts_data.loc[i,"NOC"]="AUS"
        continue
    if "Czechoslovakia" in my_str:
        counts_data.loc[i,"NOC"]="CZE"
        continue
    if "Yugoslavia" in my_str:
        counts_data.loc[i,"NOC"]="YUG"
        continue
    if "Turkey" in my_str:
        counts_data.loc[i,"NOC"]="TUR"
        continue
    if "Ceylon" in my_str:
        counts_data.loc[i,"NOC"]="CEY"
        continue
    if "Iran" in my_str:
        counts_data.loc[i,"NOC"]="IRI"
        continue
    if "Venezuela" in my_str:
        counts_data.loc[i,"NOC"]="VEN"
        continue
    if "Formosa" in my_str or "Taiwan" in my_str or "Taipei" in my_str:
        counts_data.loc[i,"NOC"]="TPE"
        continue
    if "Tanzania" in my_str:
        counts_data.loc[i,"NOC"]="TAN"
        continue
    if "Ivory Coast" in my_str:
        counts_data.loc[i,"NOC"]="IVC"
        continue
    if "Syria" in my_str:
        counts_data.loc[i,"NOC"]="SYR"
        continue
    if "Virgin" in my_str:
        counts_data.loc[i,"NOC"]="USA"
        continue
    if "Unified" in my_str:
        counts_data.loc[i,"NOC"]="EUN"
        continue
    if "Independent Olympic" in my_str:
        counts_data.loc[i,"NOC"]="IOA"
        continue
    if "Czech" in my_str:
        counts_data.loc[i,"NOC"]="CZE"
        continue
    if "Moldova" in my_str:
        counts_data.loc[i,"NOC"]="MDA"
        continue
    if "Vietnam" in my_str:
        counts_data.loc[i,"NOC"]="VIE"
        continue
    if "Macedonia" in my_str:
        counts_data.loc[i,"NOC"]="MKD"
        continue
    if "Serbia and Montenegro" in my_str:
        counts_data.loc[i,"NOC"]="SCG"
        continue
    if "Fiji" in my_str:
        counts_data.loc[i,"NOC"]="FIJ"
        continue
    if "Kosovo" in my_str:
        counts_data.loc[i,"NOC"]="KOS"
        continue
    if "ROC" in my_str:
        counts_data.loc[i,"NOC"]="ROC"
        continue
    if "Refugee Olympic" in my_str:
        counts_data.loc[i,"NOC"]="ROT"
        continue
    if "Bahamas" in my_str:
        counts_data.loc[i,"NOC"]="BAH"
        continue
    if "Barbados" in my_str:
        counts_data.loc[i,"NOC"]="BAR"
        continue
    if "Bermuda" in my_str:
        counts_data.loc[i,"NOC"]="BER"
        continue
    if "Botswana" in my_str:
        counts_data.loc[i,"NOC"]="BOT"
        continue
    if "Bulgaria" in my_str:
        counts_data.loc[i,"NOC"]="BUL"
        continue
    if "Burkina" in my_str:
        counts_data.loc[i,"NOC"]="BUK"
        continue
    if "Chile" in my_str:
        counts_data.loc[i,"NOC"]="CHI"
        continue
    if "Costa Rica" in my_str:
        counts_data.loc[i,"NOC"]="CRC"
        continue
    if "Croatia" in my_str:
        counts_data.loc[i,"NOC"]="CRO"
        continue
    if "Greece" in my_str:
        counts_data.loc[i,"NOC"]="GRE"
        continue
    if "Grenada" in my_str:
        counts_data.loc[i,"NOC"]="GRN"
        continue
    if "Guatemala" in my_str:
        counts_data.loc[i,"NOC"]="GUA"
        continue
    if "Haiti" in my_str:
        counts_data.loc[i,"NOC"]="HAI"
        continue
    if "Indonesia" in my_str:
        counts_data.loc[i,"NOC"]="INA"
        continue
    if "Kuwait" in my_str:
        counts_data.loc[i,"NOC"]="KUW"
        continue
    if "Latvia" in my_str:
        counts_data.loc[i,"NOC"]="LAT"
        continue
    if "Malaysia" in my_str:
        counts_data.loc[i,"NOC"]="MAL"
        continue
    if "Mongolia" in my_str:
        counts_data.loc[i,"NOC"]="MGL"
        continue
    if "Mauritius" in my_str:
        counts_data.loc[i,"NOC"]="MRI"
        continue
    if "Netherlands" in my_str:
        counts_data.loc[i,"NOC"]="NED"
        continue
    if "Paraguay" in my_str:
        counts_data.loc[i,"NOC"]="PAR"
        continue
    if "Philippines" in my_str:
        counts_data.loc[i,"NOC"]="PHI"
        continue
    if "Portugal" in my_str:
        counts_data.loc[i,"NOC"]="POR"
        continue
    if "Slovenia" in my_str:
        counts_data.loc[i,"NOC"]="SLO"
        continue
    if "Sri Lanka" in my_str:
        counts_data.loc[i,"NOC"]="SRI"
        continue
    if "Sudan" in my_str:
        counts_data.loc[i,"NOC"]="SUD"
        continue
    if "Switzerland" in my_str:
        counts_data.loc[i,"NOC"]="SUI"
        continue
    if "Togo" in my_str:
        counts_data.loc[i,"NOC"]="TOG"
        continue
    if "Uruguay" in my_str:
        counts_data.loc[i,"NOC"]="URU"
        continue
    if "Vietnam" in my_str:
        counts_data.loc[i,"NOC"]="VNM"
        continue
    my_str = remove_chars_before_first_uppercase(my_str)
    my_str=my_str.strip()
    country = pycountry.countries.get(name=my_str)
    counts_data.loc[i,"NOC"]= country.alpha_3
counts_data.head()

   Rank  NOC  Gold  Silver  Bronze  Total  Year
0     1  USA    11       7       2     20  1896
1     2  GRE    10      18      19     47  1896
2     3  GER     6       5       2     13  1896
3     4  FRA     5       4       2     11  1896
4     5  GBR     2       3       2      7  1896

In [9]:
filename = 'summerOly_programs.csv'
programs_data = pd.read_csv(filename,encoding = "iso8859_15")
programs_data = programs_data.fillna(0)
programs_data.head(71)

,Sport,Discipline,Code,Sports Governing Body,1896,1900,1904,1906*,1908,1912,...,1988,1992,1996,2000,2004,2008,2012,2016,2020,2024
0,Aquatics,Artistic Swimming,SWA,World Aquatics,0,0,0,0,0,0,...,2,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,Aquatics,Diving,DIV,World Aquatics,0,0,2,1,2,4,...,4,4,4.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,Aquatics,Marathon Swimming,OWS,World Aquatics,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,2.0
3,Aquatics,Swimming,SWM,World Aquatics,4,7,9,4,6,9,...,31,31,32.0,32.0,32.0,32.0,32.0,32.0,35.0,35.0
4,Aquatics,Water Polo,WPO,World Aquatics,0,1,1,0,1,1,...,1,1,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Weightlifting,Weightlifting,WLF,IWF,2,2,2,0,0,0,...,10,10,10.0,15.0,15.0,15.0,15.0,15.0,14.0,10.0
67,Wrestling,Freestyle,WRF,UWW,0,0,7,0,5,0,...,10,10,10.0,8.0,11.0,11.0,11.0,12.0,12.0,12.0
68,Wrestling,Greco-Roman,WRG,UWW,1,0,0,4,4,5,...,10,10,10.0,8.0,7.0,7.0,7.0,6.0,6.0,6.0
69,Skating,Figure,FSK,ISU,0,0,0,0,4,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70,Ice Hockey,Ice Hockey,IHO,IIHF,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
counts_data.to_csv('counts_data.csv',index=False)
programs_data.to_csv('programs_data.csv',index=False)
hosts_data.to_csv('hosts_data.csv',index=False)
athletes_data.to_csv('athletes_data.csv',index=False)